*.cs text eol=crlf working-tree-encoding=UTF-8-BOM
*.csproj text eol=crlf working-tree-encoding=UTF-8-BOM
*.resx text eol=crlf working-tree-encoding=UTF-8-BOM
*.config text eol=crlf working-tree-encoding=UTF-8-BOM
*.manifest text eol=crlf working-tree-encoding=UTF-8-BOM
*.xml text eol=crlf working-tree-encoding=UTF-8-BOM
*.json text eol=crlf working-tree-encoding=UTF-8-BOM
*.cmd text eol=crlf working-tree-encoding=UTF-8-BOM
*.bat text eol=crlf working-tree-encoding=UTF-8-BOM
*.ps1 text eol=crlf working-tree-encoding=UTF-8-BOM
*.txt text eol=crlf working-tree-encoding=UTF-8-BOM

*.dll binary
