<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kiritori.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <Kiritori.Properties.Settings>
            <setting name="isWindowShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAfloatWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowAlphaPercent" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="isStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isFirstRunShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isOpenMenuOnAppStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isScreenGuide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isHighlightWindowOnHover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoverHighlightColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="HoverHighlightAlphaPercent" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="HoverHighlightThickness" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CaptureBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CaptureBackgroundAlphaPercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="isScreenSnap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPlaySound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value>en</value>
            </setting>
        </Kiritori.Properties.Settings>
    </userSettings>
</configuration>
