<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kiritori.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <Kiritori.Properties.Settings>
            <setting name="WindowShadowEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowOpacityPercent" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryLimit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="FirstRunShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenPreferencesOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenGuideEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoverHighlightEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoverHighlightColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="HoverHighlightAlphaPercent" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="HoverHighlightThickness" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CaptureBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CaptureBackgroundAlphaPercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SnapToEdgesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySoundOnCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotificationOnCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="HotkeyCapture" serializeAs="String">
                <value>Ctrl+Shift+5</value>
            </setting>
            <setting name="HotkeyOcr" serializeAs="String">
                <value>Ctrl+Shift+4</value>
            </setting>
            <setting name="ShowNotificationOnOcr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyLive" serializeAs="String">
                <value>Ctrl+Shift+6</value>
            </setting>
            <setting name="LivePreviewMaxFps" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LivePreviewRenderPolicy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogMinLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LogWriteToDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogWriteToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMaxFileSizeBytes" serializeAs="String">
                <value>5242880</value>
            </setting>
            <setting name="LogMaxRollFiles" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogIncludeTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogIncludeThreadId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogIncludeProcessId" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogIncludeCategoryTag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogTimestampFormat" serializeAs="String">
                <value>yyyy-MM-dd HH:mm:ss.fff</value>
            </setting>
            <setting name="LivePreviewPrivacyMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OcrLanguage" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="HistoryIncludeOcr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FfmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyCaptureFixed" serializeAs="String">
                <value>Ctrl + Shift + 7</value>
            </setting>
            <setting name="FixedCropWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="FixedCropHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LivePreviewShowStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LivePreviewSaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GifMaxDurationSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GifMaxFps" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GifOptimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GifMaxWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="FixedCropPreset" serializeAs="String">
                <value>0</value>
            </setting>
        </Kiritori.Properties.Settings>
    </userSettings>
</configuration>
